<h1>All blogs</h1>
<table mat-table [dataSource]="dataSource">
  <mat-text-column name="id"></mat-text-column>
  <mat-text-column name="title"></mat-text-column>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Thumbnail </th>
    <td mat-cell *matCellDef="let data">  
      <img [src]="data.image" width="50" height="50" alt="image of shiba inu">
       </td>
  </ng-container>

  <ng-container matColumnDef="published_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Published At </th>
    <td mat-cell *matCellDef="let element">{{element.published_at}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="accent">Edit</button>
      <button mat-raised-button class="blog-table_btn-delete" color="warn" (click)="delete(element.id)">Delete</button>
    </td>
    
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let rowData; columns: displayedColumns"></tr>
  </table>
